<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <rabbit:annotation-driven/>
    <rabbit:connection-factory id="rabbitConnectionFactory"
                               host="${rabbitmq.host}"
                               username="${rabbitmq.name}"
                               password="${rabbitmq.password}"
                               port="${rabbitmq.port}" />


    <!--&lt;!&ndash; 当Spring容器启动完成后执行下面的这个Bean 链接rabbitMQ的消息提供者和发送者&ndash;&gt;-->
    <bean class="com.cardpay.processor.BeanPostProcessor"/>

    <bean id="jackson2JsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>
    <rabbit:template id="amqpTemplate" connection-factory="rabbitConnectionFactory" message-converter="jackson2JsonMessageConverter"/>

    <rabbit:admin connection-factory="rabbitConnectionFactory"/>

    <bean id="rabbitListenerContainerFactory"
          class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">
        <property name="connectionFactory" ref="rabbitConnectionFactory"/>
        <property name="concurrentConsumers" value="3"/>
        <property name="maxConcurrentConsumers" value="10"/>
    </bean>
</beans>