<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>乾康微贷管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link type="text/css" rel="stylesheet" href="/static/css/dataTables.bootstrap.css"/>

    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/zTreeStyle.css" rel="stylesheet">
    <@style/>
    <@css/>
</head>
<body>
<#include "layout/menu.html"/>
<div class="bottom">
    <div class="content">
        <@breadcrumb/>
        <div class="report common tableB">
            <@content/>
        </div>
    </div>
</div>
<!--**********************************************对话框**********************************************-->
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/QK.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/sucaijiayuan.js"></script>
<script type="text/javascript" src="/static/js/jquery.ztree.core-3.5.js"></script>
<!-- 日期控件 -->
<script type="text/javascript" src="/static/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/static/js/department.js"></script>
<@script/>

<@js/>
</body>
</html>
