<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">测试导航</a>
    </div>
    <div>
        <ul class="nav navbar-nav" id="menu">

        </ul>
    </div>
</div>
<script>
    $(document).on("click","#menu>li>ul>li",function() {
        var id = $(this).attr("id");
        localStorage.id = id;
    });
    $(function(){
        var html = '',parent = $("#menu"),id = localStorage.id;
        $.ajax({
            type : "GET",
            url:"/menu/all",
            success:function(data){
                var result = data['data']['menus'];
                $(result).each(function(i,v){
                    var temp = $(v)[0];
                    html += '<li class="dropdown" id='+temp.menuName+'><a style="display: inline-block;" href="#" class="dropdown-toggle" data-toggle="dropdown">'+temp.menuNameZh+'<b class="caret"></b></a>';
                    html += '<ul class="dropdown-menu">';
                    $(temp.menuLists).each(function(i,v){
                        var tempA = $(v)[0];
                        html += '<li id='+tempA.menuName;
                        if(id == tempA.menuName){
                            html += ' class = active';
                        }
                        html += '><a href="#">'+tempA.menuNameZh+'</a></li>';
                    })
                    html += '</ul></li>';
                })
                parent.append(html);
                $("ul.dropdown-menu li.active").parents("li.dropdown").addClass("open")
            }
        });
    });
</script>