<ul class="nav nav-pills nav-stacked custom-nav">
<!--<li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>我的工作台</span></a></li>-->
<!--<li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>客户管理</span></a>-->
<!--<ul class="sub-menu-list">-->
<!--<li><a href="blank_page.html"> 新建客户</a></li>-->
<!--<li><a href="boxed_view.html"> 客户信息查询</a></li>-->
<!--<li><a href="leftmenu_collapsed_view.html"> 客户维护</a></li>-->
<!--<li><a href="horizontal_menu.html"> 客户移交</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="login.html"><i class="fa fa-sign-in"></i> <span>Login Page</span></a></li>-->

</ul>
<script>
    $(function () {
        /*如果是第一次进入该页面就设置默认页面为index；不是就取本地缓存的页面为当前高亮*/
        function setUrl() {
            return localStorage.url ? localStorage.url : '/index';
        }

        $(document).on("click", "ul.sub-menu-list li", function () {
            localStorage.url = $(this).data("name");
        });
        var parent = $(".nav"), html = " ", url = setUrl();
        $.ajax({
            type: "GET",
            url: "/menu/all",
            success: function (result) {
                parent.empty();
                var menu = result.data.menus;
                $(menu).each(function (i, v) {
                    html += '<li class="menu-list"><a href="javascript:;"><i  class="fa fa-home"></i><span>' + $(v)[0].menuNameZh + '</span></a>';
                    if ($(v)[0].menuLists.length > 0) {
                        html += '<ul class="sub-menu-list">';
                        $($(v)[0].menuLists).each(function (i, v) {
                            var tempA = $(v)[0];
                            html += '<li data-name=' + tempA.menuUrl;
                            if (url == tempA.menuUrl) {
                                html += ' class = second-active';
                            }
                            html += '><a href=/' + tempA.menuUrl + '>' + tempA.menuNameZh + '</li>';
                        });
                        html += '</ul>'
                    }
                    html += '</li>';
                });
                parent.html(html);
//                $("ul.sub-menu-list li.second-active").parent("ul.sub-menu-list").show().parents("li.menu-list").addClass("active");
            }
        })
    });
</script>