<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.process.dao.AppApproveUserMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.process.model.AppApproveUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="APP_APPROVE_ID" jdbcType="DECIMAL" property="appApproveId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="COMPLETE_TIME" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="IS_REVIEW" jdbcType="DECIMAL" property="isReview" />
  </resultMap>
</mapper>