<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.process.dao.AppApproveLogMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.process.model.AppApproveLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="APPLICATION_ID" jdbcType="DECIMAL" property="applicationId" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="RESULT" jdbcType="DECIMAL" property="result" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="COMPLETE_TIME" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="ORDER" jdbcType="DECIMAL" property="order" />
    <result column="IS_REVIEW" jdbcType="DECIMAL" property="isReview" />
  </resultMap>
</mapper>