<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.customermanager.basic.dao.TCustomerManagerMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.customermanager.basic.model.TCustomerManager">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="T_U_ID" jdbcType="DECIMAL" property="tUId" />
    <result column="T_O_ID" jdbcType="DECIMAL" property="tOId" />
    <result column="CNAME" jdbcType="VARCHAR" property="cname" />
    <result column="LEVEL_ID" jdbcType="DECIMAL" property="levelId" />
    <result column="CARD_NUMBER" jdbcType="VARCHAR" property="cardNumber" />
    <result column="ORGANIZATION_ID" jdbcType="DECIMAL" property="organizationId" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="CREATE_BY" jdbcType="DECIMAL" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_BY" jdbcType="DECIMAL" property="modifyBy" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>