<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.basic.dao.TApplicationMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.basic.model.TApplication">
        <result column="id" jdbcType="DECIMAL" property="id"/>
        <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId"/>
        <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId"/>
        <result column="REPULSE_REASON" jdbcType="VARCHAR" property="repulseReason"/>
        <result column="APPLICATION_STATUS" jdbcType="DECIMAL" property="applicationStatus"/>
        <result column="APPLY_AMOUNT" jdbcType="DECIMAL" property="applyAmount"/>
        <result column="APPROVE_AMOUNT" jdbcType="DECIMAL" property="approveAmount"/>
        <result column="APPLY_REASON" jdbcType="VARCHAR" property="applyReason"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CUSTOMER_MANAGER_ID" jdbcType="DECIMAL" property="customerManagerId"/>
    </resultMap>

    <!--进件Vo类-->
    <resultMap id="BaseVo" type="com.cardpay.mgt.application.basic.model.vo.TApplicationVo">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId"/>
        <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId"/>
        <result column="CUSTOMER_MANAGER_ID" jdbcType="DECIMAL" property="customerManagerId"/>
        <result column="APPLICATION_STATUS" jdbcType="DECIMAL" property="applicationStatus"/>
        <result column="APPLY_AMOUNT" jdbcType="DECIMAL" property="applyAmount"/>
        <result column="APPROVE_AMOUNT" jdbcType="DECIMAL" property="approveAmount"/>
        <result column="APPLY_REASON" jdbcType="VARCHAR" property="applyReason"/>
        <association property="PRODUCT" select="queryProduct" column="PRODUCT_ID"/>
        <association property="CUSTOMER" select="queryCustomer" column="CUSTOMER_ID"/>
    </resultMap>

    <!--查询进件相关产品信息-->
    <select id="queryProduct" resultType="com.cardpay.mgt.product.model.Product">
      SELECT * FROM T_PRODUCT WHERE id = #{productId}
    </select>

    <!--查询进件相关客户信息-->
    <select id="queryCustomer" resultType="com.cardpay.mgt.customer.model.TCustomerBasic">
      SELECT * FROM T_CUSTOMER_BASIC WHERE id =#{customerId}
    </select>

    <!--按客户经理Id查询进件信息-->
    <select id="queryByManagerId" resultMap="BaseVo" parameterType="Map">
        SELECT APP.*
        FROM T_APPLICATION APP,
        T_PRODUCT PRO,
        T_CUSTOMER_BASIC CUS
        <where>
            APP.PRODUCT_ID = PRO.ID
            AND APP.CUSTOMER_ID = CUS.ID
            AND APP.CUSTOMER_MANAGER_ID = #{managerId}
            <if test="customerName!=null and customerName!=''">
                AND CUS.CNAME = #{customerName}
            </if>
            <if test="productName!=null and productName!=''">
                AND PRO.PRODUCT_NAME = #{productName}
            </if>
        </where>
    </select>

    <!--按进件id查询进件信息-->
    <select id="queryByApplication" resultMap="BaseVo">
      SELECT * FROM T_APPLICATION WHERE id = #{applicationId}
    </select>

    <!--按机构id查询进件信息-->
    <select id="queryAppByOrgId" resultMap="BaseVo" parameterType="Map">
        SELECT ORGANIZATION.*
        FROM
        T_USER_ORGANIZATION ORGANIZATION ,
        T_USER USR,
        T_CUSTOMER_MANAGER MANAGER,
        T_APPLICATION APPLICATION
        WHERE
        ORGANIZATION.USER_ID = USR.ID
        AND USR.ID = MANAGER.USER_ID
        AND MANAGER.ID = APPLICATION.CUSTOMER_MANAGER_ID
        AND USORGANIZATIONR.ORGANIZATION_ID = #{orgId}
    </select>

    <!--按团队Id查询进件信息-->
    <select id="queryAppByTeamId" resultMap="BaseVo" parameterType="Map">
        SELECT UTEAM.*
        FROM
        T_USER_TEAM UTEAM,
        T_USER USR,
        T_CUSTOMER_MANAGER MANAGER,
        T_APPLICATION APPLICATION
        WHERE
        UTEAM.USER_ID = USR.ID
        AND USR.ID = MANAGER.USER_ID
        AND MANAGER.ID = APPLICATION.CUSTOMER_MANAGER_ID
        AND UTEAM.TEAM_ID = #{teamId}
    </select>
</mapper>