<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.user.dao.AuthorityOperationMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.user.model.AuthorityOperation">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="T_A_ID" jdbcType="DECIMAL" property="tAId" />
    <result column="AUTHORITY_ID" jdbcType="DECIMAL" property="authorityId" />
    <result column="OPERATION_ID" jdbcType="DECIMAL" property="operationId" />
  </resultMap>
</mapper>