<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.user.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.user.model.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_DESCRIPTION" jdbcType="VARCHAR" property="roleDescription" />
    <result column="ROLE_STATUS" jdbcType="DECIMAL" property="roleStatus" />
    <result column="ROLE_NAME_ZH" jdbcType="VARCHAR" property="roleNameZh" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="TIMESTAMP" property="createBy" />
  </resultMap>
</mapper>