<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.balancecross.dao.TApplicationBalancecrossVarMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.balancecross.model.TApplicationBalancecrossVar">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="APPLICATION_BALACECROSS_VAR_ID" jdbcType="DECIMAL" property="applicationBalacecrossVarId" />
    <result column="BALANCE_CORSS_VAR_ID" jdbcType="DECIMAL" property="balanceCorssVarId" />
    <result column="BALANCE_CORSS_VAR_VALUE" jdbcType="VARCHAR" property="balanceCorssVarValue" />
    <result column="BALANCE_CORSS_OPTION_ID" jdbcType="DECIMAL" property="balanceCorssOptionId" />
    <result column="APPLICATION_ID" jdbcType="DECIMAL" property="applicationId" />
  </resultMap>

</mapper>