<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.balancecross.dao.TBalanceCrossVarOptionMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.balancecross.model.TBalanceCrossVarOption">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="BALANCE_CROSS_OPTION_ID" jdbcType="DECIMAL" property="balanceCrossOptionId" />
    <result column="BALANCE_CROSS_VAR_ID" jdbcType="DECIMAL" property="balanceCrossVarId" />
    <result column="BALANCE_CROSS_OPTION_NAME" jdbcType="VARCHAR" property="balanceCrossOptionName" />
    <result column="BALANCE_CROSS_OPTION_VALUE" jdbcType="VARCHAR" property="balanceCrossOptionValue" />
    <result column="BALANCE_CROSS_VALUE_TYPE" jdbcType="DECIMAL" property="balanceCrossValueType" />
    <result column="BALANCE_CROSS_OPTION_DESC" jdbcType="VARCHAR" property="balanceCrossOptionDesc" />
  </resultMap>
</mapper>