<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.balancecross.dao.TTemplateGroupMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.balancecross.model.TTemplateGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="GROUP_PARENT_ID" jdbcType="DECIMAL" property="groupParentId" />
    <result column="GROUP_DESCRIPTION" jdbcType="VARCHAR" property="groupDescription" />
    <result column="IS_GROUP_MENU" jdbcType="DECIMAL" property="isGroupMenu" />
  </resultMap>

  <resultMap id="BalanceCross" type="com.cardpay.mgt.application.balancecross.model.vo.BalanceCrossGroup">
    <result column="APPLICATION_ID" jdbcType="DECIMAL" property="applicationId" />
    <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="GROUP_PARENT_ID" jdbcType="DECIMAL" property="groupParentId" />
    <result column="GROUP_DESCRIPTION" jdbcType="VARCHAR" property="groupDescription" />
    <result column="IS_GROUP_MENU" jdbcType="DECIMAL" property="isGroupMenu" />
    <collection property="balanceCrossChildren" column="{applicationId=APPLICATION_ID,groupId=GROUP_ID}" select="selectGroup"/>
    <collection property="balanceCrossVars" column="{applicationId=APPLICATION_ID,groupId=GROUP_ID}" select="selectVarEntrance"/>
  </resultMap>

  <resultMap id="BalanceCrossVar" type="com.cardpay.mgt.application.balancecross.model.vo.BalanceCrossVar">
    <id column="BALANCE_CROSS_VAR_ID" jdbcType="DECIMAL" property="balanceCrossVarId" />
    <result column="APPLICATION_ID" jdbcType="VARCHAR" property="applicationId" />
    <result column="BALANCE_CROSS_OPTION_ID" jdbcType="VARCHAR" property="applicationId" />
    <result column="BALANCE_CROSS_VAR_NAME" jdbcType="VARCHAR" property="balanceCrossVarName" />
    <result column="BALANCE_CROSS_VAR_PARENT_ID" jdbcType="DECIMAL" property="balanceCrossVarParentId" />
    <result column="BALANCE_CROSS_VAR_ORDER" jdbcType="DECIMAL" property="balanceCrossVarOrder" />
    <result column="BALANCE_CROSS_VAR_TYPE" jdbcType="DECIMAL" property="balanceCrossVarType" />
    <result column="BALANCE_CROSS_VAR_WEIGHT" jdbcType="VARCHAR" property="balanceCrossVarWeight" />
    <result column="BALANCE_CROSS_VAR_VALUE_TYPE" jdbcType="DECIMAL" property="balanceCrossVarValueType" />
    <result column="BALANCE_CROSS_VARGROUP_ID" jdbcType="DECIMAL" property="balanceCrossVargroupId" />
    <result column="BALANCE_CROSS_VARIS_HAS_CHILD" jdbcType="DECIMAL" property="balanceCrossVarisHasChild" />
    <result column="BALANCE_CROSS_VARIS_COMPUTE" jdbcType="DECIMAL" property="balanceCrossVarisCompute" />
    <result column="BALANCE_CROSS_VAR_VALUE" jdbcType="VARCHAR" property="balanceCrossVarValue" />
    <collection property="balanceCrossVars" column="{applicationId=APPLICATION_ID,pid=BALANCE_CROSS_VAR_ID}" select="selectVar"/>
    <collection property="balanceCrossExtras" column="{applicationId=APPLICATION_ID,vid=BALANCE_CROSS_VAR_ID}" select="selectExtra"/>
    <collection property="balanceCrossOptions" column="BALANCE_CROSS_VAR_ID" select="selectOption"/>
  </resultMap>

  <resultMap id="OptionMap" type="com.cardpay.mgt.application.balancecross.model.TBalanceCrossVarOption">
    <id column="BALANCE_CROSS_OPTION_ID" jdbcType="DECIMAL" property="balanceCrossOptionId" />
    <result column="BALANCE_CROSS_VAR_ID" jdbcType="DECIMAL" property="balanceCrossVarId" />
    <result column="BALANCE_CROSS_OPTION_NAME" jdbcType="VARCHAR" property="balanceCrossOptionName" />
    <result column="BALANCE_CROSS_OPTION_VALUE" jdbcType="VARCHAR" property="balanceCrossOptionValue" />
    <result column="BALANCE_CROSS_VALUE_TYPE" jdbcType="DECIMAL" property="balanceCrossValueType" />
    <result column="BALANCE_CROSS_OPTION_DESC" jdbcType="VARCHAR" property="balanceCrossOptionDesc" />
  </resultMap>

  <resultMap id="ExtMap" type="com.cardpay.mgt.application.balancecross.model.TApplicationBalancecrossExt">
    <result column="BALANCE_CROSS_VAR_EXTRA_ID" jdbcType="DECIMAL" property="balanceCrossVarExtraId" />
    <result column="BALANCE_CROSS_VAR_ID" jdbcType="DECIMAL" property="balanceCrossVarId" />
    <result column="BALANCE_CROSS_EXTRA_NAME" jdbcType="VARCHAR" property="balanceCrossExtraName" />
    <result column="BALANCE_CROSS_EXTRA_VALUE" jdbcType="VARCHAR" property="balanceCrossExtraValue" />
    <result column="APPLICATION_ID" jdbcType="DECIMAL" property="applicationId" />
  </resultMap>

  <!--总入口-->
  <select id="selectBalanceCross" resultMap="BalanceCross">
    SELECT * FROM
      (
        SELECT
            TG.*,#{applicationId} APPLICATION_ID
        FROM
            T_APPLICATION_TEMPLATE_GROUP ATG,
            T_TEMPLATE_GROUP TG
        WHERE
            ATG. GROUP_ID = TG. GROUP_ID
        AND ATG.TEMPLATE_ID = #{templateId}
      )
    T WHERE T.GROUP_PARENT_ID = 0

  </select>

  <!--Var入口-->
  <select id="selectVarEntrance" resultMap="BalanceCrossVar">
    SELECT * FROM
      (
        SELECT
            BCV.*,ABV.BALANCE_CROSS_VAR_VALUE,ABV.BALANCE_CROSS_OPTION_ID,#{applicationId} APPLICATION_ID
        FROM
            T_BANLANCE_CROSS_VAR BCV
            LEFT JOIN
            T_APPLICATION_BALANCECROSS_VAR ABV
            ON
                BCV.BALANCE_CROSS_VAR_ID = ABV.BALANCE_CROSS_VAR_ID
            AND ABV.APPLICATION_ID = #{applicationId}
        WHERE
            BCV.BALANCE_CROSS_VARGROUP_ID = #{groupId}
      )
    T WHERE T.BALANCE_CROSS_VAR_PARENT_ID = 0

  </select>

  <!--查询Group层级-->
  <select id="selectGroup" resultMap="BalanceCross">
    SELECT T_TEMPLATE_GROUP.*,#{applicationId} APPLICATION_ID FROM T_TEMPLATE_GROUP WHERE GROUP_PARENT_ID = #{groupId}
  </select>

  <!--查询Var层级-->
  <select id="selectVar" resultMap="BalanceCrossVar">
    SELECT
        BCV.*,ABV.BALANCE_CROSS_VAR_VALUE,ABV.BALANCE_CROSS_OPTION_ID,#{applicationId} APPLICATION_ID
    FROM
        T_BANLANCE_CROSS_VAR BCV
        LEFT JOIN
        T_APPLICATION_BALANCECROSS_VAR ABV
        ON
            BCV.BALANCE_CROSS_VAR_ID = ABV.BALANCE_CROSS_VAR_ID
        AND ABV.APPLICATION_ID = #{applicationId}
    WHERE
          BCV.BALANCE_CROSS_VAR_PARENT_ID = #{pid}
  </select>

  <!--查询Extra-->
  <select id="selectExtra" resultMap="ExtMap">
    SELECT *
      FROM T_APPLICATION_BALANCECROSS_EXT
    WHERE BALANCE_CROSS_VAR_ID = #{vid}
      AND APPLICATION_ID = #{applicationId}
  </select>

  <!--查询Option-->
  <select id="selectOption" resultMap="OptionMap">
    SELECT * FROM T_BALANCE_CROSS_VAR_OPTION WHERE BALANCE_CROSS_VAR_ID = #{BALANCE_CROSS_VAR_ID}
  </select>
</mapper>