<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.ipc.normal.dao.TApplicationTemplateMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.ipc.normal.model.TApplicationTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TEMPLATE_ID" jdbcType="DECIMAL" property="templateId" />
    <result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
    <result column="TEMPLATE_DESCRIPTION" jdbcType="VARCHAR" property="templateDescription" />
    <result column="TEMPLATE_TYPE" jdbcType="DECIMAL" property="templateType" />
    <result column="IS_NEED_GENERATE" jdbcType="DECIMAL" property="isNeedGenerate" />
  </resultMap>
</mapper>