<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.ipc.normal.dao.TTemplateGroupMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.ipc.normal.model.TTemplateGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="GROUP_PARENT_ID" jdbcType="DECIMAL" property="groupParentId" />
    <result column="GROUP_DESCRIPTION" jdbcType="VARCHAR" property="groupDescription" />
    <result column="IS_GROUP_MENU" jdbcType="DECIMAL" property="isGroupMenu" />
    <result column="GROUP_MENU_URL" jdbcType="VARCHAR" property="groupMenuUrl" />
  </resultMap>
</mapper>