<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.user.dao.AuthorityMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.user.model.Authority">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="AUTHORITY_NAME" jdbcType="VARCHAR" property="authorityName"/>
        <result column="AUTHORITY_DESCRIPTION" jdbcType="VARCHAR" property="authorityDescription"/>
        <result column="AUTHORITY_STATUS" jdbcType="DECIMAL" property="authorityStatus"/>
        <result column="AUTHORITY_NAME_ZH" jdbcType="VARCHAR" property="authorityNameZh"/>
    </resultMap>

    <select id="selectByList" resultMap="BaseResultMap">
        SELECT * FROM T_AUTHORITY WHERE ID IN
        <foreach collection="list" item="roleAuthority" index="index"
                 open="(" close=")" separator=",">
            #{roleAuthority.authorityId}
        </foreach>
    </select>

</mapper>