<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.regular.dao.TApplicationReceiveMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.regular.model.TApplicationReceive">
    <id column="RECEIVE_ID" jdbcType="DECIMAL" property="receiveId" />
    <result column="RECEIVE_NAME" jdbcType="VARCHAR" property="receiveName" />
    <result column="APPLICATION_ID" jdbcType="DECIMAL" property="applicationId" />
    <result column="RECEIVE_START_TIME" jdbcType="TIMESTAMP" property="receiveStartTime" />
    <result column="RECEIVE_END_TIME" jdbcType="TIMESTAMP" property="receiveEndTime" />
    <result column="RECEIVE_AMOUNT" jdbcType="DECIMAL" property="receiveAmount" />
    <result column="RECEIVE_REASON" jdbcType="VARCHAR" property="receiveReason" />
    <result column="RECEIVE_TEL" jdbcType="VARCHAR" property="receiveTel" />
    <result column="RECEIVE_RELATION" jdbcType="VARCHAR" property="receiveRelation" />
  </resultMap>

  <resultMap id="BaseVo" type="com.cardpay.mgt.application.regular.model.vo.TApplicationReceiveVo">
    <id column="RECEIVE_ID" jdbcType="DECIMAL" property="receiveId" />
    <result column="RECEIVE_NAME" jdbcType="VARCHAR" property="receiveName" />
    <result column="APPLICATION_ID" jdbcType="DECIMAL" property="applicationId" />
    <result column="RECEIVE_START_TIME" jdbcType="TIMESTAMP" property="receiveStartTime" />
    <result column="RECEIVE_END_TIME" jdbcType="TIMESTAMP" property="receiveEndTime" />
    <result column="RECEIVE_AMOUNT" jdbcType="DECIMAL" property="receiveAmount" />
    <result column="RECEIVE_REASON" jdbcType="VARCHAR" property="receiveReason" />
    <result column="RECEIVE_TEL" jdbcType="VARCHAR" property="receiveTel" />
    <result column="RECEIVE_RELATION" jdbcType="VARCHAR" property="receiveRelation" />
    <result column="RECEIVE_TOTAL_VALUE" jdbcType="DECIMAL" property="receiveTotalValue" />
  </resultMap>

  <!--根据进件id查询应付预收信息-->
  <select id="queryByApplicationId" resultMap="BaseVo" parameterType="Map">
    SELECT receive.*, total.RECEIVE_TOTAL_VALUE AS receiveTotalValue
    FROM T_APPLICATION_TOTAL total, T_APPLICATION_RECEIVE receive
    WHERE total.APPLICATION_ID = receive.APPLICATION_ID
    AND  receive.APPLICATION_ID = #{applicationId}
  </select>
</mapper>