<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.team.dao.TeamMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.team.model.Team">
        <result column="TEAM_ID" jdbcType="DECIMAL" property="teamId"/>
        <result column="TEAM_NAME" jdbcType="VARCHAR" property="teamName"/>
        <result column="TEAM_DESCRIPTION" jdbcType="VARCHAR" property="teamDescription"/>
        <result column="TEAM_LEADER_ID" jdbcType="DECIMAL" property="teamLeaderId"/>
        <result column="TEAM_LEADER_CNAME" jdbcType="VARCHAR" property="teamLeaderCname"/>
        <result column="TEAM_PARENT_ID" jdbcType="DECIMAL" property="teamParentId"/>
        <result column="CREATE_BY" jdbcType="DECIMAL" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="IS_MENU_TYPE" jdbcType="DECIMAL" property="isMenuType"/>
        <result column="ORGANIZATION_ID" jdbcType="DECIMAL" property="organizationId"/>
    </resultMap>

    <!--团队Vo-->
    <resultMap id="BaseVo" type="com.cardpay.mgt.team.model.vo.TeamVo">
        <result column="TEAM_ID" jdbcType="DECIMAL" property="teamId"/>
        <result column="TEAM_NAME" jdbcType="VARCHAR" property="teamName"/>
        <result column="TEAM_DESCRIPTION" jdbcType="VARCHAR" property="teamDescription"/>
        <result column="TEAM_LEADER_ID" jdbcType="DECIMAL" property="teamLeaderId"/>
        <result column="TEAM_LEADER_CNAME" jdbcType="VARCHAR" property="teamLeaderCname"/>
        <result column="TEAM_PARENT_ID" jdbcType="DECIMAL" property="teamParentId"/>
        <result column="CREATE_BY" jdbcType="DECIMAL" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="IS_MENU_TYPE" jdbcType="DECIMAL" property="isMenuType"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <association property="Leader" select="queryLeader" column="TEAM_LEADER_ID"/>
        <collection property="teamList" select="queryTeamList" column="TEAM_ID"/>
    </resultMap>

    <!--用户团队Vo-->
    <resultMap id="BaseMapVo" type="com.cardpay.mgt.team.model.vo.UserTeamVo">
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <collection property="userList" select="queryUserList" column="USER_ID"/>
    </resultMap>

    <!--机构团队Vo-->
    <resultMap id="orgTeamVo" type="com.cardpay.mgt.team.model.vo.OrganizationTeamVo">
        <result column="TEAM_ID" jdbcType="DECIMAL" property="teamId"/>
        <result column="TEAM_NAME" jdbcType="VARCHAR" property="teamName"/>
        <result column="ORGANIZATION_ID" jdbcType="DECIMAL" property="organizationId"/>
        <result column="TEAM_PARENT_ID" jdbcType="DECIMAL" property="teamParentId"/>
        <result column="ID" jdbcType="DECIMAL" property="orgId"/>
        <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
        <result column="ORG_LEVEL" jdbcType="DECIMAL" property="orgLevel"/>
        <result column="ORG_PARENT_ID" jdbcType="DECIMAL" property="orgParentId"/>
        <collection property="orgList" column="ID" select="queryPaterOrganization"/>
        <collection property="teamList" select="queryTeamListTwo" column="ID"/>
        <collection property="orgTeamList" select="queryOrgTeamList" column="TEAM_ID"/>
    </resultMap>

    <!--用户信息-->
    <resultMap id="userMap" type="com.cardpay.mgt.team.model.vo.TUserVo">
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="TEL" jdbcType="VARCHAR" property="tel"/>
        <result column="STATUS" jdbcType="DECIMAL" property="status"/>
        <result column="USER_CNAME" jdbcType="VARCHAR" property="userCname"/>
        <result column="SEX" jdbcType="DECIMAL" property="sex"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EMPLOYEE_NUMBER" jdbcType="VARCHAR" property="employeeNumber"/>
        <result column="TEAM_ID" jdbcType="DECIMAL" property="teamId"/>
        <result column="TEAM_NAME" jdbcType="VARCHAR" property="teamName"/>
    </resultMap>

    <!--查询机构信息-->
    <select id="queryOrganization" resultMap="orgTeamVo">
        SELECT * FROM T_ORGANIZATION
    </select>

    <!--递归查询机构层级列表信息-->
    <select id="queryPaterOrganization" resultMap="orgTeamVo">
        SELECT * FROM T_ORGANIZATION WHERE ORG_PARENT_ID = #{orgId}
    </select>

    <!--查询机构下的团队信息-->
    <select id="queryTeamListTwo" resultMap="orgTeamVo">
        SELECT * FROM T_TEAM WHERE ORGANIZATION_ID = #{orgId}
    </select>

    <!--递归查询子团队信息-->
    <select id="queryOrgTeamList" resultMap="orgTeamVo">
        SELECT * FROM T_TEAM WHERE team_parent_id = #{teamId}
    </select>

    <!--以上为机构团队信息(暂时弃用)-->

    <!--查询团队负责人信息-->
    <select id="queryLeader" resultType="com.cardpay.mgt.user.model.User">
        SELECT * FROM T_USER WHERE id = #{teamLeaderId}
    </select>

    <!--查询所有顶级团队信息-->
    <select id="queryAll" parameterType="Map" resultMap="BaseVo">
        SELECT * FROM T_TEAM WHERE IS_MENU_TYPE = 0
        AND ORGANIZATION_ID = #{organizationId}
    </select>

    <!--查询子团队信息-->
    <select id="queryTeamList" resultMap="BaseVo">
        SELECT * FROM T_TEAM WHERE team_parent_id = #{teamId}
        AND ORGANIZATION_ID = (select ORGANIZATION_ID FROM T_TEAM WHERE TEAM_ID = #{teamId})
    </select>

    <!--查询用户信息-->
    <select id="queryUserList" resultType="com.cardpay.mgt.user.model.User">
        SELECT * FROM T_USER WHERE id = #{userId}
    </select>

    <!--查询所有团队信息-->
    <select id="queryTeam" resultMap="BaseMapVo">
        SELECT usrTeam.* FROM T_TEAM team, T_USER_TEAM usrTeam, T_USER usr
        WHERE
        TEAM.TEAM_ID = usrTeam.TEAM_ID
        AND usrTeam.USER_ID = usr.id
        AND team.TEAM_ID = #{teamId}
        AND team.ORGANIZATION_ID = #{organizationId}
    </select>

    <!--递归删除团队信息-->
    <delete id="deleteTeam">
    DELETE FROM T_TEAM WHERE TEAM_ID IN (
    SELECT TEAM_ID FROM T_TEAM CONNECT BY PRIOR TEAM_ID = TEAM_PARENT_ID START WITH TEAM_ID = #{teamId} )
    </delete>

    <!--查询此团队是否有子团队-->
    <select id="querySubsidiary" resultType="Integer">
        SELECT COUNT(1) FROM T_TEAM WHERE TEAM_PARENT_ID = (
        SELECT TEAM_ID FROM T_TEAM WHERE TEAM_ID = #{teamId}
        )
    </select>

    <!--查询此用户是否是此团队的负责人-->
    <select id="selectIfTeamPrincipal" resultType="Integer">
        SELECT COUNT(1) FROM T_TEAM WHERE TEAM_LEADER_ID = #{principalId}
        AND TEAM_ID = #{teamId}
    </select>

    <!--按团队id查询子团队-->
    <select id="querySonTeamById" resultMap="BaseResultMap">
    SELECT * FROM T_TEAM WHERE team_parent_id = #{teamId}
    AND ORGANIZATION_ID = (select ORGANIZATION_ID FROM T_TEAM WHERE TEAM_ID = #{teamId})
    </select>

    <!--按团队所属用户信息-->
    <select id="queryTeamInUser" parameterType="Map" resultMap="userMap">
        SELECT DISTINCT usr.*, team.TEAM_ID, team.TEAM_NAME
        FROM
        T_USER usr,
        T_USER_TEAM uteam,
        T_TEAM team
        <where>
            team.TEAM_ID = uteam.TEAM_ID
            AND uteam.USER_ID = usr."ID"
            <if test="teamId == 0">
                AND team.ORGANIZATION_ID = #{orgId}
            </if>
            <if test="teamId !=null and teamId!=''">
                AND team.TEAM_ID = #{teamId}
            </if>
            <if test="userCname!=null and userCname!=''">
                AND USER_CNAME LIKE CONCAT (CONCAT('%', TRIM(#{userCname})), '%')
            </if>
        </where>
    </select>

    <!--查询新增团队成员信息-->
    <select id="queryNewTeamMember" resultMap="userMap">
        SELECT DISTINCT usr.*, team.TEAM_ID
        FROM
        T_USER usr,
        T_ORGANIZATION org,
        T_USER_ORGANIZATION uorg,
        T_USER_TEAM uteam,
        T_TEAM team
        WHERE
        USR."ID" = UORG.USER_ID
        AND UORG.ORGANIZATION_ID = ORG."ID"
        AND TEAM.TEAM_ID = UTEAM.TEAM_ID
        AND ORG."ID" = #{orgId}
        AND team.TEAM_ID = #{teamId}
    </select>

</mapper>