<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.customerbasic.dao.TCustomerBasicMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.customerbasic.model.po.TCustomerBasic">
        <result column="ID" jdbcType="DECIMAL" property="id" />
        <result column="T_U_ID" jdbcType="DECIMAL" property="tUId" />
        <result column="CNAME" jdbcType="VARCHAR" property="cname" />
        <result column="SEX" jdbcType="DECIMAL" property="sex" />
        <result column="CERTIFICATE_TYPE" jdbcType="DECIMAL" property="certificateType" />
        <result column="CERTIFICATE_NUMBER" jdbcType="VARCHAR" property="certificateNumber" />
        <result column="TEL" jdbcType="VARCHAR" property="tel" />
        <result column="HOME_ADDRESS" jdbcType="VARCHAR" property="homeAddress" />
        <result column="MARRIAGE_STATUS" jdbcType="DECIMAL" property="marriageStatus" />
        <result column="EDUCATION_DEGREE" jdbcType="DECIMAL" property="educationDegree" />
        <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
        <result column="CUSTOMER_MANAGER_ID" jdbcType="DECIMAL" property="customerManagerId" />
        <result column="CREATE_BY" jdbcType="DECIMAL" property="createBy" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="MODIFY_BY" jdbcType="DECIMAL" property="modifyBy" />
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="CUSTOMER_STATUS" jdbcType="DECIMAL" property="customerStatus" />
    </resultMap>
</mapper>