<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.customer.dao.TCustomerBasicMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.customer.model.TCustomerBasic">
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="CNAME" jdbcType="VARCHAR" property="cname"/>
        <result column="SEX" jdbcType="DECIMAL" property="sex"/>
        <result column="CERTIFICATE_TYPE" jdbcType="DECIMAL" property="certificateType"/>
        <result column="CERTIFICATE_NUMBER" jdbcType="VARCHAR" property="certificateNumber"/>
        <result column="TEL" jdbcType="VARCHAR" property="tel"/>
        <result column="HOME_ADDRESS" jdbcType="VARCHAR" property="homeAddress"/>
        <result column="MARRIAGE_STATUS" jdbcType="DECIMAL" property="marriageStatus"/>
        <result column="EDUCATION_DEGREE" jdbcType="DECIMAL" property="educationDegree"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="CUSTOMER_MANAGER_ID" jdbcType="DECIMAL" property="customerManagerId"/>
        <result column="CREATE_BY" jdbcType="DECIMAL" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_BY" jdbcType="DECIMAL" property="modifyBy"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="CUSTOMER_STATUS" jdbcType="DECIMAL" property="customerStatus"/>
        <association property="ifDel" select="ifDelete" column="ID"/>
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.cardpay.mgt.customer.model.vo.TCustomerTransferVo">
        <result column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="CNAME" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <!--查询此客户是否可以删除-->
    <select id="ifDelete" resultType="Integer">
        SELECT count(1)
        FROM
        T_CUSTOMER_BASIC basic,T_APPLICATION application
        WHERE
        basic.id = application.CUSTOMER_ID
        AND application.CUSTOMER_ID = #{id}
    </select>

    <!--查询身份证是否存在-->
    <select id="isIdCardExist" parameterType="String" resultType="Integer">
        SELECT COUNT(1)
        FROM t_customer_basic basic
        WHERE basic.CERTIFICATE_NUMBER = #{idCard}
    </select>

    <!--查询客户经理所属客户-->
    <select id="queryCustomer" resultMap="BaseResultMapVo">
        SELECT customer.id id, customer.cname name FROM T_CUSTOMER_BASIC customer, T_CUSTOMER_MANAGER manager
        WHERE manager.id = customer.CUSTOMER_MANAGER_ID AND customer.CUSTOMER_STATUS !=6
        AND manager.id = #{managerId}
    </select>

    <!--更新客户状态-->
    <update id="updateStatus" parameterType="Map">
        <foreach item="item" index="index" collection="customerIds" open="BEGIN" separator=";" close=";END;">
            UPDATE T_CUSTOMER_BASIC
            <set>
                id = id
                <if test="managerId!=null">
                     ,CUSTOMER_MANAGER_ID = #{managerId}
                </if>
                <if test="status!=null">
                      ,CUSTOMER_STATUS = #{status}
                </if>
            </set>
            where id = #{item}
        </foreach>
    </update>

    <!--按条件查询客户信息-->
    <select id="queryCustomerByCondition" parameterType="Map" resultMap="BaseResultMap">
        SELECT basic.*
        FROM T_CUSTOMER_BASIC basic, T_CUSTOMER_MANAGER manager
        <where>
            basic.CUSTOMER_MANAGER_ID = MANAGER.id
            AND MANAGER.ORGANIZATION_ID =
            (
            SELECT ORGANIZATION_ID
            FROM T_CUSTOMER_MANAGER
            WHERE
            ID = #{customerManagerId}
            )
            AND manager.id = #{customerManagerId}
            AND basic.CUSTOMER_STATUS != 5
            <if test="cname!=null and cname!=''">
                AND basic.cname LIKE CONCAT(CONCAT('%',#{cname}),'%')
            </if>
            <if test="certificateNumber!=null and certificateNumber!=''">
                AND basic.CERTIFICATE_NUMBER LIKE CONCAT(CONCAT('%',#{certificateNumber}),'%')
            </if>
        </where>
    </select>

    <!--查询无进件记录的客户信息-->
    <select id="selectDelete" parameterType="Map" resultMap="BaseResultMap">
        SELECT basic.*
        FROM
        T_CUSTOMER_BASIC basic,T_APPLICATION application
        WHERE
        basic.id != application.CUSTOMER_ID
        AND basic.CUSTOMER_MANAGER_ID = #{managerId}
    </select>

</mapper>
