<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.customer.maintenance.dao.TCustomerMaintenanceMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.customer.model.TCustomerMaintenance">
        <result column="ID" jdbcType="DECIMAL" property="id" />
        <result column="CUSTOMER_CNAME" jdbcType="VARCHAR" property="customerCname" />
        <result column="MAINTENANCE_TYPE" jdbcType="DECIMAL" property="maintenanceType" />
        <result column="MAINTENNACE_SUMMARY" jdbcType="VARCHAR" property="maintennaceSummary" />
        <result column="OPERATION_ID" jdbcType="DECIMAL" property="operationId" />
        <result column="OPERATION_NAME" jdbcType="VARCHAR" property="operationName" />
        <result column="OPERATION_TIME" jdbcType="TIMESTAMP" property="operationTime" />
    </resultMap>
</mapper>