<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.customer.dao.TCustomerIndustryMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.customer.model.TCustomerIndustry">
        <result column="INDUSTRY_ID" jdbcType="DECIMAL" property="industryId"/>
        <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId"/>
    </resultMap>

    <!--客户行业相关Vo-->
    <resultMap id="BaseVo" type="com.cardpay.mgt.customer.model.vo.TCustomerIndustryVo">
        <result column="INDUSTRY_ID" jdbcType="DECIMAL" property="industryId"/>
        <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId"/>
        <result column="INDUSTRY_NAME" jdbcType="VARCHAR" property="industryName"/>
    </resultMap>

    <!--批量添加客户行业信息-->
    <insert id="batchInsert" parameterType="List">
        INSERT INTO T_CUSTOMER_INDUSTRY (INDUSTRY_ID, CUSTOMER_ID)
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="union">
            SELECT #{item.industryId,mode=IN,jdbcType=DECIMAL}, #{item.customerId,mode=IN,jdbcType=DECIMAL}
            FROM DUAL
        </foreach>
    </insert>

    <!--查询客户所属行业信息-->
    <select id="queryById" resultMap="BaseVo">
    SELECT customer.INDUSTRY_ID as INDUSTRY_ID, customer.CUSTOMER_ID as CUSTOMER_ID, industry.INDUSTRY_NAME as INDUSTRY_NAME
    FROM T_CUSTOMER_INDUSTRY customer, T_INDUSTRY industry
    WHERE customer.INDUSTRY_ID = industry.id
    AND customer.CUSTOMER_ID = #{customerId}
  </select>

    <!--客户挖掘(不知道top5是什么标准)-->
    <select id="">
        SELECT * FROM T_CUSTOMER_BASIC basic, T_CUSTOMER_INDUSTRY cusIndustaty, T_INDUSTRY industaty
        WHERE BASIC.id=cusIndustaty.CUSTOMER_ID AND industaty.id = cusIndustaty.INDUSTRY_ID
        AND basic.id = #{customerId}
    </select>

    <!--批量更新-->
    <update id="batchUpdate">
        <foreach collection="list" separator=";" item="item" index="index" close=";END;" open="BEGIN">
            UPDATE T_CUSTOMER_INDUSTRY
            SET INDUSTRY_ID = #{item.industryId}
            WHERE CUSTOMER_ID = #{item.customerId}
        </foreach>
    </update>
</mapper>