<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.product.dao.TProductOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.cardpay.mgt.product.model.TProductOrganization">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="PRODUCT_ID" jdbcType="DECIMAL" property="productId"/>
        <result column="ORAGANIZATION_ID" jdbcType="DECIMAL" property="oraganizationId"/>
    </resultMap>

    <!--批量插入产品机构信息-->
    <insert id="batchInsertOrg" parameterType="Map">
        INSERT INTO T_PRODUCT_ORGANIZATION (PRODUCT_ID, ORAGANIZATION_ID)
        <foreach item="item" index="index" collection="orgIds" open="(" close=")" separator="union">
            SELECT #{productId}, #{item} FROM DUAL
        </foreach>
    </insert>

    <!--批量删除产品机构信息-->
    <delete id="bathDeleteOrg" parameterType="Map">
        DELETE FROM T_PRODUCT_ORGANIZATION WHERE PRODUCT_ID = #{productId} AND ORAGANIZATION_ID IN
        <foreach item="orgId" collection="orgIds" open="(" separator="," close=")">
            #{orgId}
        </foreach>
    </delete>

</mapper>