<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.file.dao.TFileMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.file.model.TFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="IMAGE_TYPE" jdbcType="VARCHAR" property="imageType" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_AT" jdbcType="TIMESTAMP" property="createAt" />
    <result column="MODIFY_BY" jdbcType="VARCHAR" property="modifyBy" />
    <result column="MODIFY_AT" jdbcType="TIMESTAMP" property="modifyAt" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="FAST_NAME" jdbcType="VARCHAR" property="fastName" />
  </resultMap>

  <!-- 批量插入-->
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO T_FILE (ID, IMAGE_TYPE, FILE_NAME, REMARK, CREATE_BY, CREATE_AT, MODIFY_BY
    , MODIFY_AT, GROUP_NAME, FAST_NAME)
    <foreach collection="list" item="item" index="index" open="(" close=")" separator="union">
      SELECT #{item.id,mode=IN,jdbcType=DECIMAL}
      , #{item.imageType,mode=IN, jdbcType=VARCHAR}
      , #{item.fileName,mode=IN, jdbcType=VARCHAR}
      , #{item.remark, mode=IN,jdbcType=VARCHAR}
      , #{item.createBy, mode=IN,jdbcType=VARCHAR}
      , #{item.createAt,mode=IN, jdbcType=TIMESTAMP}
      , #{item.modifyBy,mode=IN, jdbcType=VARCHAR}
      , #{item.modifyAt, mode=IN,jdbcType=TIMESTAMP}
      , #{item.groupName,mode=IN, jdbcType=DECIMAL}
      , #{item.fastName, mode=IN,jdbcType=DECIMAL}
      FROM DUAL
    </foreach>
  </insert>
</mapper>
