<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.manager.customermanagerlevel.dao.TCustomerManagerLevelMapper">
  <resultMap id="BaseResultMap" type="com.cardpay.mgt.manager.customermanagerlevel.model.TCustomerManagerLevel">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LEVEL_NAME" jdbcType="VARCHAR" property="levelName" />
    <result column="LEVEL_CREDIT" jdbcType="DECIMAL" property="levelCredit" />
    <result column="OVERDUE_TOLERATE_RATE" jdbcType="DECIMAL" property="overdueTolerateRate" />
    <result column="BADLOAN_TOLERATE_RATE" jdbcType="DECIMAL" property="badloanTolerateRate" />
    <result column="POSTLOAN_MONITOR_TOLERATE_NUM" jdbcType="DECIMAL" property="postloanMonitorTolerateNum" />
    <result column="LOAN_LIMIT_MIN" jdbcType="DECIMAL" property="loanLimitMin" />
    <result column="LOAN_NUMBER_MIN" jdbcType="DECIMAL" property="loanNumberMin" />
    <result column="OVERDUE_RATE_MIN" jdbcType="DECIMAL" property="overdueRateMin" />
    <result column="BADLOAN_RATE_MIN" jdbcType="DECIMAL" property="badloanRateMin" />
    <result column="CREATE_BY" jdbcType="DECIMAL" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_BY" jdbcType="DECIMAL" property="modifyBy" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>