<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardpay.mgt.application.basic.dao.ApplicationIPCBasicMapper">

  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.ipc.universal.model.TTemplateGroup">
    <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="GROUP_PARENT_ID" jdbcType="DECIMAL" property="groupParentId" />
    <result column="GROUP_DESCRIPTION" jdbcType="VARCHAR" property="groupDescription" />
    <result column="IS_GROUP_MENU" jdbcType="DECIMAL" property="isGroupMenu" />
    <result column="GROUP_MENU_URL" jdbcType="VARCHAR" property="groupMenuUrl" />
    <collection property="groups" column="{applicationId=APPLICATION_ID,groupId=GROUP_ID}" select="selectGroup"/>
    <collection property="vars" column="{applicationId=APPLICATION_ID,groupId=GROUP_ID}" select="selectVarEntrance"/>
  </resultMap>

  <resultMap id="BaseResultMap" type="com.cardpay.mgt.application.ipc.universal.model.TTemplateVar">
    <result column="TEMPLATE_VAR_ID" jdbcType="DECIMAL" property="templateVarId" />
    <result column="TEMPLATE_VAR_NAME" jdbcType="VARCHAR" property="templateVarName" />
    <result column="TEMPLATE_VAR_PARENT_ID" jdbcType="DECIMAL" property="templateVarParentId" />
    <result column="TEMPLATE_VAR_ORDER" jdbcType="DECIMAL" property="templateVarOrder" />
    <result column="TEMPLATE_VAR_INPUT_TYPE" jdbcType="DECIMAL" property="templateVarInputType" />
    <result column="TEMPLATE_VAR_WEIGHT" jdbcType="VARCHAR" property="templateVarWeight" />
    <result column="TEMPLATE_VAR_GROUP_ID" jdbcType="DECIMAL" property="templateVarGroupId" />
    <result column="TEMPLATE_VAR_IS_HAS_CHILD" jdbcType="DECIMAL" property="templateVarIsHasChild" />
    <result column="TEMPLATE_VAR_IS_COMPUTE" jdbcType="DECIMAL" property="templateVarIsCompute" />
    <collection property="vars" column="{applicationId=APPLICATION_ID,pid=BALANCE_CROSS_VAR_ID}" select="selectVar"/>
    <collection property="extras" column="{applicationId=APPLICATION_ID,vid=BALANCE_CROSS_VAR_ID}" select="selectExtra"/>
    <collection property="options" column="BALANCE_CROSS_VAR_ID" select="selectOption"/>
  </resultMap>


  <!--初始化资产负债和交叉检验类型进件模版-->
  <insert id="initBalanceCrossTemplate">
    INSERT INTO T_APPLICATION_BALANCECROSS_VAR (
      T_APPLICATION_BALANCECROSS_VAR.BALANCE_CORSS_VAR_ID,
      T_APPLICATION_BALANCECROSS_VAR.APPLICATION_ID
    ) SELECT
      TBCV.BALANCE_CROSS_VAR_ID,
      #{application} APPLICATION_ID
    FROM
      T_APPLICATION_TEMPLATE_GROUP TATG,
      T_BANLANCE_CROSS_VAR TBCV
    WHERE
      TATG. GROUP_ID = TBCV.BALANCE_CROSS_VARGROUP_ID
    AND TATG.TEMPLATE_ID = #{templateId}
  </insert>

</mapper>
